# Setup the project
1. Create the .env file using sample.env file
2. npm install

# Running the server
npm run start

# Packages
npm install express --save
npm i nodemailer
npm i dotenv
npm i bcrypt
npm install nodemon